{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Food Delivery{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
    crossorigin="anonymous">
    <!-- Вставьте здесь ваши мета-теги, стили CSS и скрипты JS -->
</head>
<body>
    <header class="bg-light">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="{% static 'img/logo.png' %}" width="100" height="40" class="d-inline-block align-top" alt="">
            </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/bio/">Обо мне</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/history/">История заказов</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>

    <main>
        {% block content %}{% endblock %}
    </main>



    <!-- Вставьте здесь скрипты JS, если они нужны -->
</body>

</html>