{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1 class="mt-5">Меня зовут Григорьев Олег Андреевич</h1>
            <p class="lead">Я backend developer на python django</p>
            <hr>
            <h2>Мои профили в социальных сетях:</h2>
            <ul class="list-unstyled">
                <li><a href="https://vk.com/cherttila" target="_blank">ВКонтакте</a></li>
                <li><a href="https://t.me/Cherttila" target="_blank">Телеграм</a></li>
                <li><a href="https://docs.google.com/document/d/10TcYzX_rSXnnqpBmFuq9q74CSP6LssSAz5I2oE41I1c/edit?usp=sharing" target="_blank">Мое резюме</a></li>
                <li><a href="https://github.com/OleGriG" target="_blank">GitHub</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}