
<footer class="bg-dark text-light py-3 fixed-bottom mt-auto">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023 My Website</p>
        </div>
        <div class="col-md-6 text-md-right">
          <a href="#" class="text-light mx-2"><i class="fab fa-facebook"></i></a>
          <a href="#" class="text-light mx-2"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-light mx-2"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>